@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Montserrat', sans-serif;
	background: #24202a;
}

.header_promo {
	margin-top: 36px;
}

.header_promo2 {
	padding-bottom: 20px;
}

/*.header_promo2 h1 {*/
	/*font-family: "Montserrat";*/
/*}*/

h1 {
	text-align: left;
	padding-left: 150px;
	color: white;
	font-size: 250%;
	font-family: Montserrat;
}

.text2 {
	font-size: 250%;
}

.text3 {
	padding-left:45px;
}

.start_description {
	z-index: 9;
	text-align: center;
	position: absolute;
	width: 1200px;
	top: 55%;
	margin-top: -180px;
	left: 50%;
	margin-left: -600px;
	white-space: normal;
}

.input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
	display: table-cell;
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

.full-container{
	width: 100%;
	height: 600px;
	text-align:center;
	background: #24202a;
}

.results-container1 {
	width: 100%;
	height: 60px;
	text-align:center;
	background:#e73931;
}

.results-container2 {
	width: 100%;
	height: 100px;
	padding-left: 50px;
	background: #24202a;
}

.search_promo {
	padding-left: 40px;
	max-width: 900px;
	margin: 40px auto;
}

.search_promo input {
	height: 55px;
	border: 0px;
	border-radius: 3px;
	color: #8c8c8c;
	font-size: 18px;
	font-weight: 300;
	padding: 0px 20px;
}

.full-container1{
	width: 100%;
	height: 50px;
	text-align:center;
	background: #24202a;
}

.btnsearch {
	background: #e73931;
}

p {
	color:white}

.btn_cat {
	width: 150px;
}

.search_promo .btn_cat button span {
	color: #322F44;
	font-size: 16px;
	display: block;
	overflow: hidden;
	padding: 10px 0px;
}

.start_description span {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 100;
	color: #ffffff;
	line-height: 36px;
}

.btn_cat button {
	display: block;
	width: 100%;
	height: 55px;
	border-radius: 3px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: none;
	background: #FFFFFF;
	text-align: left;
	color: #322F44;
	font-size: 15px;
	font-weight: 300;
	padding: 0px 20px 0px 10px;
	border-left: 1px solid #E5E5E5;
}

/*.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {*/
	/*color: #fff;*/
	/*background-color: #e73931;*/
	/*border-color: #e73931;*/
	/*border-bottom-left-radius: 0;*/
	/*border-bottom-right-radius: 0;*/
/*}*/

/*.btn-default {*/
	/*color: #333;*/
	/*background-color: #fff;*/
	/*border-color: #ccc;*/
/*}*/

.search_promo .btn_cat button span .caret {
	padding: 0;
	display: block;
	float: none!important;
	position: absolute;
	top: 14px;
	right: 15px;
}

.btn_cat button .caret {
	color: #322f44;
	float: right;
	margin-top: 12px;
}

.btn .caret {
	margin-left: 0;
}

.search_promo input:focus, .btn_cat button:focus, .btn_promo_search button:focus, .input-group-btn {
	outline: none;
	box-shadow: none;
}

.btn-success {
	color: #fff;
	background-color: #e73931;
}

.btn_promo_search button {
	height: 55px;
	padding: 0 50px;
	font-size: 18px;
	margin-left: 30px!important;
	border-radius: 3px!important;
}

.place_dd li a {
	padding: 10px 15px;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

a {
	color: #e73931;
	text-decoration: none;
	transition: .3s;
}

a {
	background-color: transparent;
}

.place_dd {
	width: 200px;
	margin-top: -1px;
	background: #e73931;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 0;
	height: 120px;
	overflow: hidden;
	overflow-y: scroll;
}

.dropdown-menu-right {
	right: 0;
	left: auto;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #e73931;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.open>.dropdown-menu {
	display: block;
}

/* Links inside the dropdown */
.dropdown-menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover {background-color: #e73931}

.dropdown:hover .dropdown-menu {
	display: block;
}


.blog_cat {
	padding: 10px;
	margin-bottom: 40px;
	margin-top: 30px;
}

.blog_cat li {
	list-style: none;
	display: inline-block;
	padding: 10px 10px 0px 0px;
}

.blog_cat li a {
	border: 1px solid #E2E2E2;
	padding: 10px 20px;
	border-radius: 50px;
	display: inline-block;
}


/* enable absolute positioning */
.inner-search-addon .inner-addon {
	position: relative;
}

/* style icon */
.inner-addon .glyphicon {
	position: absolute;
	padding: 42px 13px 0px 310px;
	pointer-events: none;
	color: #999;
}

.inner-search-add .glyphicon {
	position: absolute;
	padding: 23px 600px 0px 600px;
	pointer-events: none;
	color: #999;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.search-bar {
	padding-left: 250px;
	margin-top: 7px;
	padding-bottom: 45px;
}

.event-card{
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 20px 0;
}

.display-inline{
	display: inline;
}

.margin-right-sm{
	margin-right: 10px;
}

.margin-bottom-sm{
	margin-bottom: 10px;
}

.margin-bottom-md{
	margin-bottom: 30px;
}

.text-bubble{
	padding: 6px 15px;
	color: #7e7e7e;
	border: 1px solid #7e7e7e;
	border-radius: 20px;
	text-transform: uppercase;
	display: inline-block;
}

.dark-gray-color{
	color: #7e7e7e;
}

.margin-top{
	margin-top: 15px;
}

.margin-top-sm {
	margin-top: 10px;
}

.margin-top-md {
	margin-top: 30px;
}




.affix{
	position:fixed;
	top:5px;
	max-width:285px;
}

.contant {
	display: table;
}

.contant .row {
	display: table-row;
}

.contant .row [class*="col-"] {
	float: none;
	display: table-cell;
	vertical-align: top;
}

.sidebar {
	background: rgba(0, 0, 0, 0.2);
	min-height: 100%;
	position: relative;
	padding: 0px;
}

.sources {
	padding: 0;
}

.sources li {
	list-style: none;
}

.sources li a {
	display: block;
	padding: 12px 15px;
	border-bottom: 1px solid rgba(0,0,0,.42);
}

.sources li a:hover, .sources li a.active {
	background: #e73931;
	color: #fff;
	border-bottom: 1px solid #e73931;
}

.sources li a i {
	margin-right: 15px;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

a:hover {
	text-decoration: none;
	transition: .3s;
}

a:focus {
	color: #e73931;
}

a:hover, a:focus {
	text-decoration: none;
}

a {
	color: #e73931;
	text-decoration: none;
	transition: .3s;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.categories {
	padding: 15px;
	margin-top: 30px;
}

.categories h3 {
	color: #ffffff;
	margin-bottom: 20px;
}

.categories ul {
	padding: 0px;
}

.categories ul li {
	list-style: none;
	display: inline-block;
	margin: 0px 1px 7px;
}

.categories ul li a {
	padding: 6px 14px;
	border: 1px solid #342C43;
	display: block;
	border-radius: 40px;
}

.categories ul li a:hover, .categories ul li a.active {
	background: #432C43;
	color: #fff;
}

.content {
	background: #fff;
}

.search-info {
	padding: 0 0px;
}

.search-result{
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 20px 0;
}

.search {
	width:100%;
	margin: 12px 120px 12px 30px;
	float: right;
	height: 33px;
	font-size: 13px;
	font-style: italic;
	padding: 0 10px;
	max-width: 300px;
}